.hero-video{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
z-index:-2;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,.6);
z-index:-1;
}
.card,
.member,
.service{
transition:.4s ease;
}

.card:hover,
.member:hover,
.service:hover{
transform:translateY(-12px);
box-shadow:0 15px 40px rgba(0,229,255,.2);
}